<h1>About the Artist</h1>

<div class="well">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3">
	      <%#img src="savvy.jpg", class="img-rounded"/%>
	      <%= link_to (image_tag("https://s3.amazonaws.com/boylan-art/savvy.JPG?AWSAccessKeyId=ASIAIRL77TMJI33KB6WQ&Expires=1374694917&Signature=NGFrNIFyyQplRp2RFOOgoPrNftA%3D&x-amz-security-token=AQoDYXdzEN3//////////wEasAJSODyRgBa4QSHGLwxSVGp10URldjMGhD6IgEPp%2B7I7F07UGV3qAMWUihB7YkE8TyZJFtun2RY1TOV0NpY%2BtvoEN9BQstQgj7U94AhYVMxI49m3S5PdL%2B%2B3kzp2OBirWDiHV2hTANNtUZ13uC08DpOUygDA/Hu%2BCZaOCfcuE2S%2BkEmTFa/0U/aQjo/VhTReXwE00pEEKfsEQuV2kxa0Rn4KmVaNKqypP9bpsUaxwmqYQ4Bqq6gTqxts%2BhTYydh40CE6BJ3kdP0wGbUu2iW%2BcBQ7lc%2BE2Now1cLmBjB%2BP0n3iiT6R6I2wkeaGWItSDrXoHy%2BF%2ByRUuCHowKvRAg8wWLEOnSWvr8/jx11vyLTZiRpBB7VXRxk9h6UmVMJo1dPFzsIsipeBaMhX3Iqj5keusrpIOzVwI8F")), root_path %>
	    </div>
	    <div class="span9">
	      Boylan began her career portraying a most basic element, a necessary substance to survive in an extravagant light, giving food the spotlight it well deserves.
	    </div>
	  </div>
	</div>
</div>