<h1>About the Artist</h1>


<div class="about">
	<div class="box">
		<img src="savvy.jpg" />
		<div class = "abouttext">
		Boylan began her career portraying a most basic element, a necessary substance to survive in an extravagant light, giving food the spotlight it well deserves.
		</div>	
	</div>
</div>
