<h3>Welcome to the Exhibitions Page</h3>

<table class="table">
	
	<td>
		<h5><%= link_to "Abstract", '#', class: "btn" %></h5>
		<p>This exhibition contains the abstract pieces of artwork that Boylan has been painting in recent years.</p>
	</td>
	<td class="ex"><%= link_to (image_tag("https://s3.amazonaws.com/boylan-art/Abstract/IMG_3768.jpeg")), '#', class: "img-rounded" %></td>
	<td>
		<h5><%= link_to "Food", '#', class: "btn" %></h5>
		<p>This exhibition contains the pieces of art with food-centric focus. The pieces are meant to invoke a deep sense of questioning: do we take for granted what we need most to survive?</p>
	</td>
	<td class = "ex"><%= link_to (image_tag("https://s3.amazonaws.com/boylan-art/Food/FINAL+APPLE+2.jpeg")), '#', class: "img-rounded" %></td>
</tbody>
</table>