<div class = "hero-unit">
	<h1>CaseSavvy</h1>

	<p>Coming soon: Pick from a variety of artistic cases to find one for you!</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary" %>
	</p>
</div>

