<div class = "homepadding">
	<div class = "hero-unit">
		<h1>Boylan-Art</h1>

		<p>Enter the Gallery to see the works of renowned artist, Kimberly Savannah Boylan.
		</p>

		<p>
			<%= link_to "Enter the Gallery", exhibitions_path, class: "btn btn-primary" %>
		</p>


	</div>
</div>
