$navbarBackgroundHighlight: black;
$navbarBackground: black;
$navbarHeight: 50px;
$navbarLinkBackgroundHover: transparent;



@import 'bootstrap';

.homepadding {	
	padding-top: 20px;
}

body {
	padding-top: 70px;
}


@import 'bootstrap-responsive';


body {
	background-color: white;
}


.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: gray;
	}
}

.navbar .nav > li > a {
  color: #e5e5e5;
}

.navbar .nav .ksb {
	/*modify the kimberlysavannahboylan on the right side of menu bar */
	color: gray;
	font-weight: bold;
	font-size: 24px;
}

.navbar .brand {
	color:#e5e5e5;
}

.about {
	padding-top: 30px;
}

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ex {
	/* Make styling edits to exhibitions home page here */
	display: block;
	width: 100%;
	padding: 30px;
}




